.background-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.background-pic.fixed {
    background-attachment: fixed;
}