#root {
    margin-top: -1px;
    padding-top: 1px;
}

.ui.hidden {
    display: none;
}

.ui.stripe {
    padding: 8em 0em;
}

.ui.menu .ui.button {
    line-height: initial;
}

.ui.borderless {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}